.btn-link {
    color: #000000;
    text-decoration: none;
}

.btn-link:hover {
    color: #000000;
}

.btn-primary {
    background-color: #4B7F52;
    border-color: #4B7F52;
}

.btn-primary:hover {
    background-color: #5c9964;
    border-color: #4B7F52;
}

.btn-primary:active {
    background-color: #5c9964 !important;
    border-color: #4B7F52 !important;
}

.btn-secondary {
    background-color: #FA7921;
    border-color: #fff;
}

.btn-secondary:hover {
    background-color: #fc6907;
    border-color: #fff;
}

.btn-secondary:active {
    background-color: #FA7921;
    border-color: #fff;
}

.btn-absolute {
    position: absolute;
    left: 10%;
    width: 170px;
}

.btn-orange {
    background-color: #FA7921;
}

.btn-orange:hover {
    background-color: #fa6a0a;
}

.navbar img {
    max-height: 40px;
}

.nav-item {
    margin-right: 40px;
}

.btn-icon {
    height: 30px;
    width: 30px;
}

.cover-image {
    height: 50vh;
    object-fit: cover;
}

.image-icons {
    width: 20px;
    height: 20px;
}

footer {
    color: black;
}

.footer-box {
    background-color: #fff;
    width: 100%;
    height: 250px;
    padding: 20px;
    z-index: 1;
    border-radius: 10px 10px 0px 0px;
}

.nav-logo{
    position: absolute;
    right: 12px;
    top: 13px;
}
.btn-basic {
    background-color: #ffffff;
}

.btn-basic:hover {
    background-color: #273043;
}

.container-main {
    background-color: #273043;
    color: #fff;
}

.container-white {
    background-color: #ffffff;
    color: #000000;
}

.cover-image {
    height: 30vh;
    object-fit: cover;
}

.cover-image-bowling {
    height: 50vh;
    object-fit: cover;
}

.card {
    margin: 0 auto;
    color: #000000;
    margin-top: 50px;
    max-height:500px; 
}

.bowling-card {
    width: 80%;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
}

.card-house {

}

.card-body {
    margin-left: 10px;
    margin-right: 10px;
}

.image-icons {
    width: 20px;
    height: 20px;
}

.splide {
    background-color: #273043;
    color: #000000;
}

.text-box {
    background-color: #ffffff;
}

.text-right {
    float: right;
}

.hidden {
    visibility: hidden;
    display: none;
}

.fs-4 {
    font-size: 1rem;
}

.main-dark {
    background-color: #273043;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.main-white {
    background-color: #ffffff;
    color: #000000;
}

.main-orange {
    background-color: #FA7921;
    color: #ffffff !important;
}

.main-green {
    background-color: #4B7F52;
    color: #ffffff;
}

.btn-icon-large {
    height: 82px;
}

.btn:hover .btn-icon {
    display: none;
  }
.cover-image {
    display: none;
}

@media (min-width: 768px) {
    .footer-box {
        background-color: #fff;
        width: 300px;
        height: 250px;
        transform: skew(-15deg);
        padding: 20px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
    }

    .cover-image {
        display: inline;
        height: 50vh;
        width: 70%;
    }
    .cover-image-container {
        
        height: 50vh;
        width: 100%;
        position: relative;
        display: inline-block;
      }
      
      .vertical-ad {
        
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.7); /* Optional background color for the ad container */
      }
      
      .vertical-ad img {
        max-width: 100%;
        height: 50vh;
      }

    .btn-absolute {
        position: absolute;
        left: 10%;
        width: 300px;
    }
}

@media (min-width: 1200px) {

    .splide__arrow--next {
        display: none;
    }

    .splide__arrow--prev {
        display: none;
    }

    .image-icons {
        width: 30px;
        height: 30px;
    }

    .card-house {
        min-height: 800px;
    }
    .bowling-card {
        width: 60%;
    }
}