.btn-primary {
    background-color: #4B7F52;
    border-color: #4B7F52;}
.btn-primary:hover {
    background-color: #5c9964;
    border-color: #4B7F52;}
.btn-primary:active {
    background-color: #5c9964 !important;
    border-color: #4B7F52 !important;}
.btn-secondary {
    background-color: #FA7921;
    border-color: #fff;}
.btn-secondary:hover {
    background-color: #fc6907;
    border-color: #fff;}
.btn-secondary:active {
    background-color: #FA7921;
    border-color: #fff;}
.btn-orange {
    background-color: #FA7921;
    color: #ffffff;}
.btn-orange:hover {
    color: #ffffff;
    background-color: #fa6a0a;}
.navbar img {
    max-height: 40px;}
.nav-item {
    margin-right: 40px;}
.container-main {
    background-color: #273043;
    color: #fff;}
.cover-image-bowling {
    height: 50vh;
    object-fit: cover;}
.card {
    margin: 0 auto;
    color: #000000;
    margin-top: 50px;
    height: auto;
    overflow: hidden;}
.bowling-card {
    width: 80%;}
.card-house {
    display: flex;
    flex-direction: column;
    height: 100%;  /* Make sure the card stretches to the full height */}
.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;  /* Allows the body to expand and fill available space */}
.splide {
    background-color: #273043;
    color: #000000;}
.fs-4 {
    font-size: 1rem;}
.btn:hover .btn-icon {
    display: none;}
.btn-arrow {
    padding: 8px 16px; /* Standard padding */
    font-size: 16px; /* Readable font size */
    margin-top: 20px; /* Space above the button */
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease;}
.img-fluid {
    width: 100%; /* Ensures the image is always full width of its container */
    height: 300px; /* Standard height for all images */
    object-fit: cover; /* Ensures images cover the area without stretching */}
.border-container {
    margin-bottom: 10px;}
.cover-image-container {
    position: relative;
    height: auto; /* Adjust the height as needed */
    overflow: hidden;
    background: #273043; /* Fallback background color */}
.cover-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box; /* Ensure padding is included in the width/height */
    z-index: 10; /* Ensure the overlay is above the image */
    height: 100%;}
.cover-title {
    margin-bottom: 20px;
    z-index: 11; /* Ensure the title is above the image */
    font-size: 1.5rem; /* Adjusted font size for smaller screens */}
.cover-text {
    text-align: left;
    max-width: 800px;
    z-index: 11; /* Ensure the text is above the image */
    font-size: 1rem; /* Adjusted font size for smaller screens */
    padding: 10px; /* Added padding for better spacing */}

.cover-image {
        display: inline;
        height: 50vh;
        object-fit: cover;
        filter: blur(5px); /* Background blur effect */
        -webkit-filter: blur(5px); /* Safari support */}
.cover-image-container {
        
        height: 50vh;
        width: 100%;
        position: relative;
        display: inline-block;}
.btn {
        width: 90%; /* Reduces the button width to fit within the card */
        margin: 0 auto 10px; /* Centers the button and adds spacing below */}
.img-diagonal-cut-left {
        clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
        transition: clip-path 0.3s ease-in-out;}
.img-diagonal-cut-left:hover {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);}
/* Diagonal cut for images on the right, cut facing left */
.img-diagonal-cut-right {
        clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);
        transition: clip-path 0.3s ease-in-out;}
.img-diagonal-cut-right:hover {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);}


@media (max-width: 768px) {
    .cover-image {
            display: inline;
            height: 70vh;
            width: 70%;}
    .cover-image-container {
            height: 70vh;
            width: 100%;
            position: relative;
            display: inline-block;}
}

@media (max-width: 993px) {
    .img-diagonal-cut-left {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        transition: clip-path 0.3s ease-in-out;}
    .img-diagonal-cut-right {
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
            transition: clip-path 0.3s ease-in-out;}
    }